dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.ps
*.eventlog
.stack-work/
cabal.project.local
.HTF/

# test projects
test/repos/*
!test/repos/.gitkeep

# prevent test output files to pollute repo
/*.clj

# scripts dependencies
scripts/node_modules

# bibliography
papers
